<div class="container">
    <div class="col">
        <div class="row">
            <h4>Event Details</h4>
            <button type="button" class="close" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div>
            <label for="eventName">Event Name</label>
            <input type="text" name="eventName" id="eventName">
        </div>
        <div>
            <label for="eventDescription">Event Description</label>
            <input type="text" name="eventDescription" id="eventDescription">
        </div>
        <div>
            <label for="category">Event Category</label>
            <input type="text" name="category" id="category">
        </div>
        <div>
            <label for="startDate">Event Start Date</label>
            <input type="text" name="startDate" id="startDate">
        </div>
        <div>
            <label for="endDate">Event End Date</label>
            <input type="text" name="endDate" id="endDate">
        </div>
        <div>
            <label for="startTime">Event Start Time</label>
            <input type="text" name="startTime" id="startTime">
        </div>
        <div>
            <label for="endTime">Event End Time</label>
            <input type="text" name="endTime" id="endTime">
        </div>
        <div>
            <label for="location">Event Location</label>
            <input type="text" name="location" id="location">
        </div>
        <div>
            <label for="registration">Allow Registration</label>
            <input type="text" name="registration" id="registration">
        </div>
        <div>
            <label for="eventImage">Event Image</label>
            <input type="text" name="eventImage" id="eventImage">
        </div>
        <div>
            <label for="adultPrice">Adult Ticket Price</label>
            <input type="text" name="adultPrice" id="adultPrice">
        </div>
        <div>
            <label for="childPrice">Child Ticket Price</label>
            <input type="text" name="childPrice" id="childPrice">
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
        <div>
            <button type="button">Cancel</button>
        </div>
    </div>
</div>











<!--<ng-template>
    <div>
        <h4>Event Details Component</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>-->