<div class="container-fluid">
    <div>
        <button type="button" class="close btn btn-secondary" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="col">
        <div class="row">
            <h2>Event Details</h2>
        </div>
    </div>
    <form #eventDetailsForm="ngForm" *ngIf="event != undefined">
        <div class="row image-row">
            <!--<label for="eventImage">Event Image</label>
            <span>Choose file</span>
            <input type="file" class="form-control" name="eventImage" #eventImage="ngModel" id="eventImage" [(ngModel)]="event.eventImage">-->
            <img src={{event.eventImage}} alt="an image depiction of the event" />
            <label for="eventImage">Event Image</label>
            <span>Choose file</span>
            <input type="file" class="form-control" name="eventImage" id="eventImage">
        </div>
        <div class="row">
            <div>
                <label for="eventName">Event Name</label>
                <input type="text" class="form-control" name="eventName" id="eventName" [(ngModel)]="event.eventName">
            </div>
            <div>
                <label for="eventDescription">Event Description</label>
                <input type="text" class="form-control" name="eventDescription" id="eventDescription" [(ngModel)]="event.eventDescription">
            </div>
            <div>
                <label for="category">Event Category</label>
                <input type="text" class="form-control" name="category" id="category" [(ngModel)]="event.category">
            </div>
            <div>
                <label for="startDate">Event Start Date</label>
                <input type="date" class="form-control" name="startDate" id="startDate" [(ngModel)]="event.startDate">
            </div>
            <div>
                <label for="endDate">Event End Date</label>
                <input type="date" class="form-control" name="endDate" id="endDate" [(ngModel)]="event.endDate">
            </div>
            <div>
                <label for="startTime">Event Start Time</label>
                <input type="time" class="form-control" name="startTime" id="startTime" [(ngModel)]="event.startTime">
            </div>
            <div>
                <label for="endTime">Event End Time</label>
                <input type="time" class="form-control" name="endTime" id="endTime" [(ngModel)]="event.endTime">
            </div>
            <div>
                <label for="location">Event Location</label>
                <input type="text" class="form-control" name="location" id="location" [(ngModel)]="event.location">
            </div>
            <div>
                <label>Allow Registration</label><br>
                <label for="isChecked"><input type="checkbox" name="isChecked" id="isChecked" [(ngModel)]="isChecked"
                    [checked]="event.registration == 'true'"
                >
                Yes </label>
            </div>
            <!--<div>
                <label for="eventImage">Event Image</label>
                <input type="text" class="form-control" name="eventImage" id="eventImage" [(ngModel)]="event.eventImage">
            </div>-->
            
            <div>
                <label for="adultPrice">Adult Ticket Price</label>
                <input type="text" class="form-control" name="adultPrice" id="adultPrice" [(ngModel)]="event.adultPrice">
            </div>
            <div>
                <label for="childPrice">Child Ticket Price</label>
                <input type="text" class="form-control" name="childPrice" id="childPrice" [(ngModel)]="event.childPrice">
            </div>
            <div>
                <button class="btn btn-primary save" type="submit" (click)="save()">Save</button>
            </div>
            <div>
                <button class="btn btn-secondary close" type="button" (click)="delete()">Delete</button>
            </div>
        </div>
    </form>
</div>











<!--<ng-template>
    <div>
        <h4>Event Details Component</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>-->