<form #registrationForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name </label>
        <input class="form-control" type="text" id="firstName" name="firstName" [(ngModel)]="empModel.firstName"/>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name </label>
        <input class="form-control" type="text" id="lastName" name="lastName" [(ngModel)]="empModel.lastName"/>
    </div>
    <div class="form-group">
        <label for="emailAddress">Email Address </label>
        <input class="form-control" type="text" id="emailAddress" name="emailAddress" [(ngModel)]="empModel.emailAddress"/>
    </div>
    <div class="form-group">
        <label for="contactNumber">Contact Number </label>
        <input class="form-control" type="text" id="contactNumber" name="contactNumber" [(ngModel)]="empModel.contactNumber"/>
    </div>
    <div class="form-group">
        <label for="address">Address </label>
        <input class="form-control" type="text" id="address" name="address" [(ngModel)]="empModel.address"/>
    </div>
    <div class="form-group">
        <label for="adultQuantity">Total Adult Qty </label>
        <input class="form-control" type="text" id="adultQuantity" name="adultQuantity" [(ngModel)]="empModel.adultQuantity"/>
    </div>
    <div class="form-group">
        <label for="childQuantity">Total Child Qty </label>
        <input class="form-control" type="text" id="childQuantity" name="childQuantity" [(ngModel)]="empModel.childQuantity"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Next</button>
    </div>
</form>