<div class="container-fluid">
    <div class="row pageheader">
        <h1>Event Registration Details: {{event.eventName}}</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <span>
                {{event.eventName}}
            </span>
            <span>
                {{event.category}}
            </span>
            <span>
                {{event.location}}
            </span>
            <span>
                {{event.startDate}} {{event.startTime}}
            </span>
            <span>
                {{event.endDate}} {{event.endTime}}
            </span>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <span id="description">
                {{event.eventDescription}}
            </span>
            <span>ADULT TICKET PRICES: {{event.adultPrice}}</span>
            <span>CHILD TICKET PRICES: {{event.childPrice}}</span>
        </div>
        <div class="col-12 col-lg-4">
            <mat-card>
                <img src={{event.eventImage}} />
            </mat-card>
        </div>
    </div>
    <div class="row">
        <button type="submit" (click)="onClickRegistration(event)">Registration button (only if registration is allowed)</button>
    </div>
</div>
